body {
    background-color: black;
    background-image: url("../images/index/backgroundFin.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#holePage {
    display: grid;
}

h1 {
    background-color: aliceblue;
    text-align: center;
    font-size: 60px;
    font-family: Century Gothic;
    margin-bottom: 0;
}

h4 {
    margin-top: 0;
    background-color: aliceblue;
    text-align: center;
    font-size: 20px;
    font-family: Century Gothic;
}

h2 {
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 40px;
    color: beige;
    font-family: Century Gothic;
}


.allBtn {
    display: -webkit-flex;
    justify-content: center;
}

.btnBox {
    margin-right: 50px;
}

a {
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}

.startBtn {
    display: inline-flex;
    justify-content: center;
    width: 200px;
    height: 1000px;
    border-radius: 25px;
    filter: opacity(0.5);
}

.startBtn:hover {
    filter: opacity(1);
}

#head {
    margin-bottom: 30px;
}

